.menu {
  width: 250px;
  height: 100%;
  background: rgba(255, 255, 255, 0.55);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  display: flex;
  flex-direction: column;
}
.menu__btn {
  padding: 18px 10px;
  background: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: purple;
  cursor: pointer;
  transition: all 0.3s;
}
.menu__btn:hover{
     color: white;
    background-color: rgba(102, 5, 5, 0.521);
}
.menu__btn--active {
  background: rgba(40, 39, 41, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  border-left: 4px solid purple;
}
@media only screen and (max-width: 600px) {
   .menu{
  display:  none;
   } 
}