.wrapper {
  height: 70%;
  max-width: 80%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 200px 1fr;
  grid-template-rows: repeat(3, 1fr);
  display: absolute;
}
.circles {
  border-radius: 50%;
}
.circles-one {
  height: 130px;
  width: 130px;
  background: rgb(218, 28, 193);
grid-column: 2/3;
align-self: center;
}

.circles-two {
  height: 340px;
  width: 340px;
  background: rgb(198, 98, 31);
  background: -moz-linear-gradient(
    90deg,
    rgba(198, 98, 31, 1) 0%,
    rgba(139, 26, 186, 1) 59%,
    rgba(175, 34, 124, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(198, 98, 31, 1) 0%,
    rgba(139, 26, 186, 1) 59%,
    rgba(175, 34, 124, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(198, 98, 31, 1) 0%,
    rgba(139, 26, 186, 1) 59%,
    rgba(175, 34, 124, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c6621f",endColorstr="#af227c",GradientType=1);
}

.circles-three {
  height: 200px;
  width: 200px;

  background-color: black;
  background: rgb(173, 186, 37);
  background: -moz-linear-gradient(
    90deg,
    rgba(173, 186, 37, 1) 0%,
    rgba(187, 48, 79, 1) 27%,
    rgba(186, 26, 96, 1) 59%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(173, 186, 37, 1) 0%,
    rgba(187, 48, 79, 1) 27%,
    rgba(186, 26, 96, 1) 59%
  );
  background: linear-gradient(
    90deg,
    rgba(173, 186, 37, 1) 0%,
    rgba(187, 48, 79, 1) 27%,
    rgba(186, 26, 96, 1) 59%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#adba25",endColorstr="#ba1a60",GradientType=1);
}
