@keyframes swing-foot {
    from {
transform: rotateZ(0deg) ;
    }
    to{
        transform: rotateZ(30deg) translateY(-10px);
    }
}

@keyframes type{
    from {
transform: rotateZ(0deg) ;
    }
    to{
        transform: rotateZ(10deg) translateX(3px);
    }
}
.right-foot{
    animation: swing-foot 1s ease-in-out infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
}
.right-hand{
  animation: type 0.4s infinite alternate;
     transform-origin: center;
    transform-box: fill-box;
}
.left-hand{
 
    animation: type 0.4s infinite alternate;
       animation-delay: 0.3s;
     transform-origin: center;
    transform-box: fill-box;
}